/**
 * CSS easings below
 *
 * See listed eases and make your own here:
 * http://matthewlein.com/ceaser/
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'poppinsbold';
  src: url(/app/styles/fonts/poppins-bold-webfont.eot);
  src: url(/app/styles/fonts/poppins-bold-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/poppins-bold-webfont.woff2) format("woff2"), url(/app/styles/fonts/poppins-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinslight';
  src: url(/app/styles/fonts/poppins-light-webfont.eot);
  src: url(/app/styles/fonts/poppins-light-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/poppins-light-webfont.woff2) format("woff2"), url(/app/styles/fonts/poppins-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinsmedium';
  src: url(/app/styles/fonts/poppins-medium-webfont.eot);
  src: url(/app/styles/fonts/poppins-medium-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/poppins-medium-webfont.woff2) format("woff2"), url(/app/styles/fonts/poppins-medium-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinsregular';
  src: url(/app/styles/fonts/poppins-regular-webfont.eot);
  src: url(/app/styles/fonts/poppins-regular-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/poppins-regular-webfont.woff2) format("woff2"), url(/app/styles/fonts/poppins-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinssemibold';
  src: url(/app/styles/fonts/poppins-semibold-webfont.eot);
  src: url(/app/styles/fonts/poppins-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/poppins-semibold-webfont.woff2) format("woff2"), url(/app/styles/fonts/poppins-semibold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fontawesome';
  src: url(/app/styles/fonts/fontawesome-webfont.eot);
  src: url(/app/styles/fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/fontawesome-webfont.woff2) format("woff2"), url(/app/styles/fonts/fontawesome-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'crimson-textbold-italic';
  src: url(/app/styles/fonts/crimsontext-bolditalic-webfont.eot);
  src: url(/app/styles/fonts/crimsontext-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/crimsontext-bolditalic-webfont.woff2) format("woff2"), url(/app/styles/fonts/crimsontext-bolditalic-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'crimson-textitalic';
  src: url(/app/styles/fonts/crimsontext-italic-webfont.eot);
  src: url(/app/styles/fonts/crimsontext-italic-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/crimsontext-italic-webfont.woff2) format("woff2"), url(/app/styles/fonts/crimsontext-italic-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'crimson-textsemibold-italic';
  src: url(/app/styles/fonts/crimsontext-semibolditalic-webfont.eot);
  src: url(/app/styles/fonts/crimsontext-semibolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(/app/styles/fonts/crimsontext-semibolditalic-webfont.woff2) format("woff2"), url(/app/styles/fonts/crimsontext-semibolditalic-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #FFFFFF;
  color: #262626; }

.wrapper {
  margin: 100px 10vw; }
  @media all and (max-width: 768px) {
    .wrapper {
      margin: 50px 10vw; } }
  @media all and (max-width: 400px) {
    .wrapper {
      margin: 50px 5vw; } }

h1 {
  font-family: 'poppinsbold', sans-serif;
  font-size: 88px;
  font-weight: 700;
  letter-spacing: 1px; }
  @media all and (max-width: 1024px) {
    h1 {
      font-size: 75px; } }
  @media all and (max-width: 920px) {
    h1 {
      font-size: 62px; } }

h3 {
  font-family: 'poppinsbold', sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px; }

p {
  font-family: 'poppinsbold', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3; }
  @media all and (max-width: 1024px) {
    p {
      font-size: 55px; } }
  @media all and (max-width: 920px) {
    p {
      font-size: 38px; } }

a {
  color: #262626;
  text-decoration: none;
  position: relative;
  cursor: url(/app/static/cursor-metal.png) 22 23, auto; }

::selection {
  color: #262626;
  background: #FACA33; }

sup {
  vertical-align: super;
  font-size: 13px;
  color: #D7D0C8; }

ul,
ol,
table,
p {
  margin-bottom: 20px; }

ul,
ol {
  list-style: none; }

ul ul {
  margin-bottom: 0; }

.color-yellow {
  color: #FACA33; }

.crimson {
  font-family: 'crimson-textbold-italic';
  font-size: 115%; }

#hello {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media all and (max-width: 768px) {
    #hello {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start; } }
  #hello h1 {
    margin-left: 60px; }
  #hello .dot {
    height: 20px;
    width: 20px;
    background-color: #FACA33;
    border-radius: 50%;
    position: absolute;
    bottom: 17px; }

#wrap {
  position: relative;
  margin: 125px 0; }
  @media all and (max-width: 768px) {
    #wrap {
      padding: 25px 50px; } }
  #wrap.intro {
    padding: 170px 20vw; }
  #wrap.contact {
    padding: 55px 100px; }
    #wrap.contact p {
      font-size: 62px; }
  #wrap .parallax {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  #wrap.light {
    color: #262626; }
    #wrap.light .parallax {
      background-color: #F3F3F3; }
  #wrap.dark {
    color: #FFFFFF; }
    #wrap.dark .parallax {
      background-color: #262626; }
    #wrap.dark a {
      color: #FACA33; }
      #wrap.dark a::after {
        content: '';
        height: 12px;
        position: absolute;
        top: 50%;
        left: 0;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        z-index: 1;
        width: 0;
        background-color: #FFFFFF; }
      #wrap.dark a:hover::after {
        width: 100%; }

.left-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 10vw;
  height: 100vh;
  z-index: 90;
  background-color: #FFFFFF;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .left-bar:hover {
    width: 11vw; }
  @media all and (max-width: 400px) {
    .left-bar {
      display: none; } }
  .left-bar .top {
    height: calc(100vh / 3);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start; }
    .left-bar .top .image {
      height: 70px;
      min-height: 70px;
      width: 70px;
      min-width: 70px;
      margin-top: 30px;
      border-radius: 50%;
      background-image: url(/app/static/me.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0; }
  .left-bar .middle {
    height: calc(100vh / 3);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .left-bar .middle a {
      font-family: 'poppinsbold', sans-serif;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 1px;
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .left-bar .bottom {
    height: calc(100vh / 3);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end; }
    .left-bar .bottom .arrow {
      position: relative;
      font-family: 'poppinsbold', sans-serif;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 40px;
      padding-left: 25px;
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
      .left-bar .bottom .arrow span::before {
        content: '\F175';
        font-family: fontawesome;
        position: absolute;
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        animation: ani-arrow 2s ease-in-out infinite; }

@keyframes ani-arrow {
  from {
    left: 0; }
  25% {
    left: 10px; }
  50% {
    left: 0; }
  to {
    left: 0; } }

.right-bar {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  right: 0;
  top: 0;
  width: 10vw;
  height: 100vh;
  z-index: 90;
  background-color: #FFFFFF;
  transition: all 300ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .right-bar:hover {
    width: 11vw; }
  @media all and (max-width: 400px) {
    .right-bar {
      display: none; } }
  .right-bar ul {
    text-align: center; }
    .right-bar ul li {
      margin-top: 12px; }
      .right-bar ul li a {
        font-family: fontawesome;
        font-size: 16px;
        color: #262626; }
        .right-bar ul li a.linkedin::before {
          content: '\F0E1'; }
        .right-bar ul li a.instagram::before {
          content: '\F16D'; }
        .right-bar ul li a.codepen::before {
          content: '\F1CB'; }

.open-menu {
  color: #FACA33;
  cursor: url(/app/static/cursor-metal.png) 22 23, auto;
  position: relative; }
  .open-menu::after {
    content: '';
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    z-index: 1;
    width: 0;
    background-color: #262626; }
  .open-menu:hover::after {
    width: 100%; }

.menu-overlay {
  display: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  opacity: 0;
  pointer-events: none;
  z-index: 90; }

.menu {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  width: 60vw;
  background-color: #FFFFFF;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100; }
  .menu .left {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh; }
    .menu .left .cross {
      position: absolute;
      width: 30px;
      height: 30px;
      cursor: pointer; }
      .menu .left .cross:hover:after {
        -ms-transform: rotate(-65deg);
            transform: rotate(-65deg); }
      .menu .left .cross:hover:before {
        -ms-transform: rotate(65deg);
            transform: rotate(65deg); }
      .menu .left .cross:after, .menu .left .cross:before {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 30px;
        width: 8px;
        background-color: #262626;
        transition: all 300ms;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .menu .left .cross:before {
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
      .menu .left .cross:after {
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .menu .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-left: 10vw; }
    .menu .content ul {
      margin-bottom: 0px;
      margin-left: 10px; }
      .menu .content ul li {
        margin: 20px 0; }
        .menu .content ul li a {
          font-family: 'poppinsbold', sans-serif;
          font-size: 38px;
          font-weight: 700;
          letter-spacing: 1px;
          opacity: 0; }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.roll {
  position: relative; }
  @media all and (min-width: 1025px) {
    .roll {
      height: 1024px; } }
  @media all and (min-width: 1025px) and (min-height: 1024px) {
    .roll {
      height: 100vh; } }
  .roll .col-1-2 {
    -ms-flex: 1;
        flex: 1;
    max-width: 50%; }
    @media all and (max-width: 1024px) {
      .roll .col-1-2 {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%; } }
    .roll .col-1-2.dark {
      background-color: #262626;
      color: #FFFFFF; }
    .roll .col-1-2.light {
      background-color: #F3F3F3;
      color: #262626; }
  .roll article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .roll .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backface-visibility: hidden; }
    .roll .image.first {
      background-image: url(/app/static/roll.jpg);
      background-color: #262626;
      background-blend-mode: multiply; }
    @media all and (max-width: 1024px) {
      .roll .image {
        height: 450px;
        background-attachment: scroll; }
        .roll .image.first-mobile {
          background-image: url(/app/static/roll-mobile.png); } }

.para-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: #f3f3f3;
}

/*# sourceMappingURL=app.css.map*/