html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'poppinsbold';
  src: url(/1990st/styles/fonts/poppins-bold-webfont.eot);
  src: url(/1990st/styles/fonts/poppins-bold-webfont.eot?#iefix) format("embedded-opentype"), url(/1990st/styles/fonts/poppins-bold-webfont.woff2) format("woff2"), url(/1990st/styles/fonts/poppins-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinslight';
  src: url(/1990st/styles/fonts/poppins-light-webfont.eot);
  src: url(/1990st/styles/fonts/poppins-light-webfont.eot?#iefix) format("embedded-opentype"), url(/1990st/styles/fonts/poppins-light-webfont.woff2) format("woff2"), url(/1990st/styles/fonts/poppins-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinsmedium';
  src: url(/1990st/styles/fonts/poppins-medium-webfont.eot);
  src: url(/1990st/styles/fonts/poppins-medium-webfont.eot?#iefix) format("embedded-opentype"), url(/1990st/styles/fonts/poppins-medium-webfont.woff2) format("woff2"), url(/1990st/styles/fonts/poppins-medium-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinsregular';
  src: url(/1990st/styles/fonts/poppins-regular-webfont.eot);
  src: url(/1990st/styles/fonts/poppins-regular-webfont.eot?#iefix) format("embedded-opentype"), url(/1990st/styles/fonts/poppins-regular-webfont.woff2) format("woff2"), url(/1990st/styles/fonts/poppins-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'poppinssemibold';
  src: url(/1990st/styles/fonts/poppins-semibold-webfont.eot);
  src: url(/1990st/styles/fonts/poppins-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(/1990st/styles/fonts/poppins-semibold-webfont.woff2) format("woff2"), url(/1990st/styles/fonts/poppins-semibold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

body, html {
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #FFFFFF;
  color: #262626;
  overflow: hidden; }

.wrapper {
  margin: 100px 10vw; }
  @media all and (max-width: 768px) {
    .wrapper {
      margin: 50px 10vw; } }
  @media all and (max-width: 400px) {
    .wrapper {
      margin: 50px 5vw; } }

h1 {
  font-family: 'poppinsbold', sans-serif;
  font-size: 88px;
  font-weight: 700;
  letter-spacing: 1px; }
  @media all and (max-width: 1024px) {
    h1 {
      font-size: 75px; } }
  @media all and (max-width: 920px) {
    h1 {
      font-size: 62px; } }

h3 {
  font-family: 'poppinsbold', sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px; }

p {
  font-family: 'poppinsbold', sans-serif;
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3; }
  @media all and (max-width: 1024px) {
    p {
      font-size: 55px; } }
  @media all and (max-width: 920px) {
    p {
      font-size: 38px; } }

a {
  color: #262626;
  text-decoration: none;
  position: relative;
  cursor: url(/1990st/static/cursor-metal.png) 44 45, auto; }

::selection {
  color: #262626;
  background: #FACA33; }

sup {
  vertical-align: super;
  font-size: 13px;
  color: #D7D0C8; }

ul,
ol,
table,
p {
  margin-bottom: 20px; }

ul,
ol {
  list-style: none; }
  ul li,
  ol li {
    position: relative;
    font-family: 'poppinsbold', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 30px;
    margin-bottom: 12px; }
    ul li::before,
    ol li::before {
      content: '';
      position: absolute;
      height: 8px;
      width: 20px;
      background-color: #FACA33;
      top: 50%;
      left: 0;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

ul ul {
  margin-bottom: 0; }

.content {
  height: 600px;
  position: relative;
  background-color: #000; }

/* Parallax base styles
	--------------------------------------------- */
.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%; }

.parallax-group {
  position: relative;
  transform-style: preserve-3d; }

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 112.5%;
  transform-origin-x: 112.5%; }

.parallax-layer-base {
  transform: translateZ(-20px) scale(1.2);
  z-index: -1; }

.parallax-layer-back {
  transform: translateZ(-10px) scale(1.1);
  z-index: -1; }

.color-yellow {
  color: #FACA33; }

#hello {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media all and (max-width: 768px) {
    #hello {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start; } }
  #hello .image {
    height: 125px;
    min-height: 125px;
    width: 125px;
    min-width: 125px;
    margin-right: 40px;
    border-radius: 50%;
    background-image: url(/1990st/static/me.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0; }
    @media all and (max-width: 1024px) {
      #hello .image {
        height: 105px;
        min-height: 105px;
        width: 105px;
        min-width: 105px; } }
    @media all and (max-width: 920px) {
      #hello .image {
        height: 85px;
        min-height: 85px;
        width: 85px;
        min-width: 85px; } }
    @media all and (max-width: 768px) {
      #hello .image {
        height: 65px;
        min-height: 65px;
        width: 65px;
        min-width: 65px;
        margin-right: 0;
        margin-bottom: 20px; } }
  #hello .dot {
    height: 20px;
    width: 20px;
    background-color: #FACA33;
    border-radius: 50%;
    position: absolute;
    bottom: 17px; }

#wrap {
  padding: 55px 100px;
  margin: 125px 0; }
  @media all and (max-width: 768px) {
    #wrap {
      padding: 25px 50px; } }
  #wrap.light {
    color: #262626; }
    #wrap.light .parallax-layer {
      background-color: #F3F3F3; }
  #wrap.dark {
    color: #FFFFFF; }
    #wrap.dark .parallax-layer {
      background-color: #262626; }
    #wrap.dark a {
      color: #FACA33; }
      #wrap.dark a::after {
        content: '';
        height: 12px;
        position: absolute;
        top: 50%;
        left: 0;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        z-index: 1;
        width: 0;
        background-color: #FFFFFF; }
      #wrap.dark a:hover::after {
        width: 100%; }

.menu {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100; }
  .menu .top .menu-cross {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-family: 'poppinsbold', sans-serif;
    font-size: 13px;
    font-weight: 700;
    top: 0;
    left: 0;
    padding: 20px;
    margin: 20px;
    color: #262626;
    cursor: url(/1990st/static/cursor-metal.png) 44 45, auto;
    text-align: center; }
    .menu .top .menu-cross::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border: 5px solid #FACA33;
      border-radius: 50%;
      animation: pulse 2s ease infinite; }

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 0.5; }
  50% {
    opacity: 0.25; }
  to {
    transform: scale(1);
    opacity: 0; } }
  .menu .bottom .topic-web,
  .menu .bottom .topic-design,
  .menu .bottom .topic-writing {
    opacity: 0; }

.open-menu {
  color: #FACA33;
  cursor: url(/1990st/static/cursor-metal.png) 44 45, auto;
  position: relative; }
  .open-menu::after {
    content: '';
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    z-index: 1;
    width: 0;
    background-color: #262626; }
  .open-menu:hover::after {
    width: 100%; }

.scroll-down {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  left: 0;
  top: 0;
  width: 10vw;
  height: 100vh;
  z-index: 90; }
  @media all and (max-width: 400px) {
    .scroll-down {
      display: none; } }
  .scroll-down span {
    position: absolute;
    left: 0;
    height: 9px;
    width: 15px;
    background-image: url(<svg viewBox="0 0 75.657 45.657"><path fill="#262626" d="M75.657 18.829H15.313L28.485 5.657 22.828 0 0 22.829l22.828 22.828L28.485 40 15.313 26.829h60.344z"></path></svg>);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: ani-arrow 2s ease-in-out infinite; }

@keyframes ani-arrow {
  from {
    left: 0; }
  25% {
    left: 10px; }
  50% {
    left: 0; }
  to {
    left: 0; } }
  .scroll-down .arrow {
    position: relative;
    font-family: 'poppinsbold', sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding-left: 35px;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.social {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  right: 0;
  top: 0;
  width: 10vw;
  height: 100vh;
  z-index: 90; }
  @media all and (max-width: 400px) {
    .social {
      display: none; } }
  .social a {
    font-family: 'poppinsbold', sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

/*# sourceMappingURL=bundle.css.map*/